[Unit]
Description=Corva Discord Bot Service
After=network.target

[Service]
WorkingDirectory={{BOT_DIR}}
ExecStart=/bin/bash -ic 'exec node dist/index.js'
Restart=on-failure
User={{DEPLOY_USER}}
Group={{DEPLOY_USER}}

[Install]
WantedBy=multi-user.target
